/*
 * @Author: 张驰阳 zhangchiyang@sfmail.sf-express.com
 * @Date: 2023-12-09 19:55:23
 * @LastEditors: 张驰阳 zhangchiyang@sfmail.sf-express.com
 * @LastEditTime: 2023-12-09 23:13:31
 * @FilePath: /zulinV3.1/src/pages/Pintuan/index.scss
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */
@import '~taro-ui/dist/style/components/flex.scss';
@import '../../static/style/common';
.pintuan-warp{
    background-color: $bg-grey-color;
    width: 100%;
    height:100vh;
    overflow-x: hidden;
   
    .pintuan-warp-inner{
        padding: 30px 30px;
    }
}
.pt-wrap{
    background-color: $bg-grey-color;
    .pt-line {
        padding: 20px;
        border-radius: 6px;
        margin-bottom: 30px;
        background-color: #fff;
        box-sizing: border-box;
        .pt-ectitle{
            font-size: $normal-fontsize;
            margin-bottom: 8px;
        }
        
        .pt-time{
            font-size:$mini-fontsize;
            margin-bottom: 30px;
            color: #706f6f;
        }
        .pt-etitle{
            font-size:$mini-fontsize;
            color: #706f6f;

        }
    }
    .pt-curmember{
        margin-top: 10px;
        font-size: $mini-fontsize;
        color: #706f6f;

    }
    
}
