@import '~taro-ui/dist/style/components/flex.scss';
@import '~taro-ui/dist/style/components/article.scss';
@import '../../static/style/common';

.fzrVer-wrap {
  height: 100vh;
  padding-bottom: 30px;
  overflow-y: scroll;
  position: relative;

  .word-con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    z-index: 1000;
  }

  .fzrVer-form-item {
    margin-bottom: 20px;
  }

  .fzrVer-label {
    font-size: 25px;
    text-align: left;
  }

  .at-radio::after {
    border-bottom-color: #fff;
  }

  .at-radio::before {
    border-top-color: #fff;
  }

  .at-list__item {
    min-height: 100px;
  }
}

.fzrVer-box-wrap {
  @include con;
  background-color: #ffffff4a;
  position: absolute;
  top: 5%;
  bottom: 10%;
  overflow-y: scroll;
  width: 96%;
  box-sizing: border-box;
  left: 2%;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 2px #9e9e9e;
}

.fzrVer-head-wrap {
  background-color: #ffffff4a;
  position: absolute;
  top: 5%;
  width: 100%;
  box-sizing: border-box;
  .fzrVer-head-name {
    position: absolute;
    left: 70px;
    width: 180px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 6px 2px #9e9e9e;
    font-size: 35px;
    font-weight: bold;
  }
  .fzrVer-head-img {
    position: absolute;
    left: 200px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #5872f7;
  }
  .fzrVer-head-icon {
    position: absolute;
    left: 420px;
    width: 330px;
    height: 330px;
    top: 90px;
  }
  .fzrVer-head-status {
    position: absolute;
    left: 270px;
    top: 300px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
  }
}

.fzrVer-box-icon3 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  height: 50px;
  width: 100px;
}

.fzrVer-box-back {
  position: absolute;
  bottom: 2%;
  right: 5%;
  width: 200px;
}
.fzrVer-box-tj {
  position: absolute;
  bottom: 2%;
  left: 5%;
  width: 200px;
}

.teacher-home-btn {
  height: 120px;
  line-height: 120px;
  margin-bottom: 50px;
}
 .at-list{
  background-color: #fff0;
}

.fzr-status-sbtn{
  height: 100px;
  width: 250px;
  margin: 0 8px;
  border-radius: 10px;
}
.fzr-status-sbtn-choosed{
 background-color: #5872f7;
}
.no-bg-input {
  background-color: #fff0;
  border-bottom: 1px solid #000;
}

.fzr-ver-head{
  font-size: $big-fontsize;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
}
.fzr-order-list {
  .fzr-order-item-bg-blue {
    background-color: #c9edf9;
  }
  .fzr-order-item-bg-red {
    background-color: #ff9890;
  }
  .fzr-order-item {
    margin-bottom: 40px;
    border: 1px solid #000;
    padding: 10px;
    .fzr-order-item-title {
      font-size: $big-fontsize;
    }

    .fzr-order-item-content {
      font-size: $normal-fontsize;
      margin-bottom: 10px;
    }
    .fzr-order-item-content-time {
      font-size: $sm-fontsize;
      margin-left: 30px;
      display: inline-block;
    }

    .fzr-order-item-btn {
    }
  }
}

.fzr-status-sbtn{
  height: 70px;
  line-height: 70px;
  width: 230px;
  margin: 0 8px;
  border-radius: 10px;
  border: 1px solid #000;
  text-align: center;
}
.fzr-status-sbtn-choosed{
 background-color: #5872f7;
}
.fzr-drawer{
  padding: 30px 10px;
  .fzr-drawer-item{
    margin-bottom: 20px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color:  #c9edf9;
  }
  .fzr-drawer-item-red{
    background-color:  #ff9890;
  }
}

