@import '~taro-ui/dist/style/components/flex.scss';
@import '../../static/style/common.scss';
.textL {
  @include textLeft;
}
.textR {
  @include textRight;
}
.textC {
  @include textCenter;
}
.my-card-bg{
  height: 100px;
  background-color: #d4cfcf;
  text-align: left;
  font-size: 33px;
  font-weight: bold;
  padding: 20px;
}
.me-wrap {
  background-color: $bg-grey-color;
  padding-bottom: 200px;

}
.my-avatar-con {
  background-color: #292929;
  color: #fff;
  height: 300px;
  padding: 40px 60px;
  position: relative;
  .my-avatar-line1{
    span{
      // background-color: #fad3d5;
      color: #000;
      font-size: 38px;
      font-weight: bold;
    }
    margin-bottom: 20px;
  }
  .my-avatar-line2{
    span{
      color: #fff;
      background-color: #fbb03c;
      border-radius: 10px;
      padding: 5px 10px;


    }
  }
  .my-avatar-top {
    height: 180px;
    // background-color: yellowgreen;
  }
  .my-avatar-bottom {
    // height:100px;
    position: absolute;
    bottom: -200px;
    left: 20px;
    right: 20px;
    padding: 16px 0;
    line-height: 50px;
    width: auto;
    color: #000;
    border-radius: 10px;
    font-size: $big-fontsize;
    // font-weight: bold;
    text-align: center;
    .my-avatar-desc {
      font-size: $sm-fontsize;
      font-weight: normal;
      background-color: #fff;
    }
    .my-avatar-color {
      font-size: $sm-fontsize;
      font-weight: weight;
      color: #d177ab;
      background-color: #fff;

    }
  }
  .my-avatar-sm{
    position: absolute;
    top: 40px;
    right: 40px;
    width:40px;
    height:40px;
  }
}
.order-sales-con {
  padding: 0 5%;
  margin-top: 25rpx;
  width: 90%;
}

.me-con {
  border-radius: 10px;
  padding: 25px;
  box-shadow: 1px 1px 4px 0px #d0d0d0;
  margin-bottom: 40px;
  background-color: #fff;
  .me-con-top {
    margin-bottom: 30px;
    font-size: $normal-fontsize;
    .textR {
      color: $text-grey-color;
      font-size: $sm-fontsize;
    }
  }
  .me-con-mid {
    font-size: $sm-fontsize;
    color: $text-grey-color;
  }
}

.me-others-con {
  background-color: #fff;
  padding: 30px 40px;
  // border-bottom: 1px solid $bg-grey-color;
  box-shadow: 1px 1px 4px 0px #d0d0d0;
  margin-bottom: 10px;
  position: relative;
  .hideButton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  .textL {
    font-size: $normal-fontsize;
  }
  .textR {
    font-size: $sm-fontsize;
    color: $text-grey-color;
  }
  box-sizing: border-box;
}

.me-other-wrap {
  background-color: $bg-grey-color;
  margin-top: 300px;
  .at-grid{
    background-color: red;
  }
  .at-grid-con{
    width: 80%;
    .content-inner__text{
      font-size: 25px;
    }
    .at-grid__flex .content-inner__text {
      font-size: 25px;
    }
    .at-grid__flex .content-inner__img {
      width: 50px;
      height: 50px;
    }
  }

}
